workDir = "./work"

report.enabled = true

profiles {

    standard {
        process.executor = 'local'
    }

    lsf {

        process {
            executor = 'lsf'
            queue = 'research-rh74'
            perJobMemLimit = true
        }

        executor {
            name = 'lsf'
            queueSize = 4000
            pollInterval = '1 min'
            queueStatInterval = '2 min'
            dumpInterval = '8 min'
        }
    }

    lsfQuick {

        process {
            executor = 'lsf'
            queue = 'research-rh74'
            perJobMemLimit = true
        }

        executor {
            name = 'lsf'
            queueSize = 4000
            pollInterval = '30 sec'
            queueStatInterval = '1 min'
            dumpInterval = '5 min'
        }
    }
}
